body {

  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}
.custom-btn {
  min-width: 120px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.navbar {
  font-size: 0.95rem;
}
.navbar .btn,
.navbar .form-control {
  height: 42px;
}

@media (max-width: 768px) {
  #btn-search {
    width: 100%;
  }
}



@media (max-width: 768px) {
  .navbar form {
    width: 100%;
    margin-top: 10px;
  }
  #btn-search {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .navbar .d-flex a {
    width: 100%;
    margin: 5px 0;
  }
}

.form-control {
  border-radius: 2rem;
  padding: 0.75rem 1.25rem;
}
footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #ffc107; 
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link:hover {
  transform: scale(1.1);
  color: #ffc107;
  transition: 0.3s ease-in-out;
}


#loginBtn:hover {
  background-color: #b8340f;
  color: #fff;
}

#registerBtn:hover {
  background-color: #b8340f;
  color: #fff;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  color: #888;
}

.input-group {
  position: relative;
}

.input-group input {
  padding-left: 2.5rem;
}

.small-text {
  font-size: 0.9rem;
  color: #888;
}

.option-btn {
  margin: 5px;
}

.card-img-top {
  width: 100%;
  height: 150px;
  object-fit: contain;
  background-color: #15191d;

}
.slide{
  margin-top: 100px;
  width: 90%;
}

p {
  font-size: 12px;
}
#input-search{
  padding: 0 rem;
  width: 300px;
  height: 35px;
}
.card{
  transition: all 0.7s cubic-bezier(0.25, 0.8, 0.25, 1);
  border-radius: 12px;
  overflow: hidden;}
.card:hover{

  transform: translateY(-3px) scale(1.05) rotate(0.5deg);
  box-shadow: 0 5px 15px lightyellow;
}
.form-control:focus {
            border-color: #0d6efd;
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
        }

.pRate{
  color :#b3a4a4;
  font-size:12px;
  font-weight: bold;
}


.custom-toast {
  transition: transform 0.5s ease, opacity 0.5s ease;
  background: linear-gradient(135deg, #110c2b, #0602fc);
  padding: 12px 20px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 8px;
  opacity: 0;
  animation: slideIn 0.5s forwards, slideOut 0.5s forwards 2.5s;
}

@keyframes slideIn {
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  to {
    transform: translateX(120%);
    opacity: 0;
  }
}
@media (max-width: 576px) {
  .card {
    margin: 10px auto; 
    width: 75%;        
  }
}





